<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" type="image/svg+xml">
    <title>React App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <title>Home</title>-->
</head>
<body>
<h1>Welcome to the Home Page</h1>
<p>Please choose an option below:</p>


<p>login <a th:href="@{/login}">click here to login</a>.</p>
<p>register <a th:href="@{/register}">click here to register</a>.</p>
</body>
</html>